/* HTML default */
body {
    background: #202020;
    color: #D0D0D0;
    max-width: 850px;
    margin: auto;
}

/* Link styling */
a {
    border-bottom: 1px dotted;
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: #808080;
}

a:hover {
    color: #202020;
    background: #D0D0D0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre, table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Headers */
h1 {
    text-align: center;
    font-variant: small-caps;
    margin-top: 2rem;
}

h2 {
    border-width: 3px;
    border-style: none none double none;
    font-variant: small-caps;
    margin-top: 2rem;
}

h3 {
    border-width: 1px;
    border-style: none none solid none;
    border-color: #505050;
    font-variant: small-caps;
    margin-top: 2rem;
}

h4 {
    border-width: 1px;
    border-style: none none dotted none;
    border-color: #383838;
    margin-top: 2rem;
}

h1 + h2,
h1 + h3,
h1 + h4,
h2 + h3,
h2 + h4,
h3 + h4 {
    margin-top: 1rem;
}

/* Site-specific formatting */
a#title {
    display: block;
    font: 40px monospace;
    font-weight: bold;
    color: inherit;
    background: inherit;
    border: none;
    padding: 4px;
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: linear-gradient(#000000, #202020);
}

ul.links li {
    float: left;
}

ul.links li a {
    display: block;
    text-align: center;
    vertical-align: center;
    padding: 8px 16px;
    font: 16px monospace;
    font-weight: bold;
    border: none;
    color: inherit;
}

ul.links li a:hover {
    color: #202020;
}

ul.links li.right {
    float: right;
}

div#footer {
    text-align: right;
    width: 100%;
    border-top: 1px solid #505050;
    font-size: 12px;
    padding: 2px;
}