html {
    background: #101010;
    color: #D0D0D0;
    max-width: 8.5in;
    margin: auto;
}

div.foreground {
    background: #F0F0F0;
    color: #101010;
    padding: 2px;
}

hr {
    border-color: #404040;
}

div.foreground hr {
    border-color: #B0B0B0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:visited {
    color: #808080;
}

a:hover {
    color: #101010;
    background: #FF2020;
}

div.foreground a {
    color: #000000;
}

div.foreground a:hover {
    color: #F0F0F0;
}

small {
	font-size: 8pt;
    color: #808080;
}

ul {
    list-style-type: square;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    border-width: 1px;
    border-style: none none solid none;
    border-color: #404040;
}

pre {
    padding: 8px;
    background: #181818;
}